<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{common/base}">
<head>
<meta charset="UTF-8">
<title>D0000</title>
<style type="text/css">
</style>
<script type="text/javascript">
	
</script>
</head>
<body>
  <div layout:fragment="article">
    <h2 th:text="#{D0000.h2}"></h2>
    <ol>
      <li><a id="D0001" th:href="@{/D0000/D0001.html}" th:text="#{nav.D0001}">D0001</a></li>
      <li><a id="D0002" th:href="@{/D0000/D0002.html}" th:text="#{nav.D0002}">D0002</a></li>
    </ol>
  </div>
</body>
</html>
