<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{common/base}">
<head>
<meta charset="UTF-8">
<title th:text="#{D0002S.title}">title</title>
<style type="text/css">
</style>
<script type="text/javascript">

</script>
</head>
<body>
  <div layout:fragment="article">
    <h2 th:text="#{D0002.h2}">h2</h2>
    <!-- 登録フォーム -->
    <form name="D0002RegistForm" action="D0002Regist.ajax">
      <fieldset>
        <legend th:text="#{T01Oya.legend}">legend</legend>
        <div id="oyaId">
          <label for="T01Oya.oyaId" th:text="#{T01Oya.oyaId}">親ID</label><input type="text" id="T01Oya.oyaId" name="T01Oya.oyaId" maxlength="10" class=" primaryKey numbering notblank" />
        </div>
        <div id="oyaInfo">
          <label for="T01Oya.oyaInfo" th:text="#{T01Oya.oyaInfo}">親情報</label><input type="text" id="T01Oya.oyaInfo" name="T01Oya.oyaInfo" maxlength="300" />
        </div>
        <div id="insertTs">
          <label th:text="#{T01Oya.insertTs}" class="meta">作成タイムスタンプ</label><span id="T01Oya.insertTs" class="meta YmdHmsS"></span><input type="hidden" id="T01Oya.insertTs" name="T01Oya.insertTs" class="meta"/>
        </div>
        <div id="insertUserId">
          <label th:text="#{T01Oya.insertUserId}" class="meta">作成者</label><span id="T01Oya.insertUserId" class="meta"></span><input type="hidden" id="T01Oya.insertUserId" name="T01Oya.insertUserId" class="meta"/>
          <span id="T01Oya.insertUserSei" class="refer meta" data-referFor="T01Oya.insertUserId" data-json="MhrUserSearch.json" data-srcDef="USER_ID:T01Oya.insertUserId" data-destDef="T01Oya.insertUserSei:USER_SEI"></span>
        </div>
        <div id="updateTs">
          <label th:text="#{T01Oya.updateTs}" class="meta">更新タイムスタンプ</label><span id="T01Oya.updateTs" class="meta YmdHmsS"></span><input type="hidden" id="T01Oya.updateTs" name="T01Oya.updateTs" class="meta"/>
        </div>
        <div id="updateUserId">
          <label th:text="#{T01Oya.updateUserId}" class="meta">更新者</label><span id="T01Oya.updateUserId" class="meta"></span><input type="hidden" id="T01Oya.updateUserId" name="T01Oya.updateUserId" class="meta"/>
          <span id="T01Oya.updateUserSei" class="refer meta" data-referFor="T01Oya.updateUserId" data-json="MhrUserSearch.json" data-srcDef="USER_ID:T01Oya.updateUserId" data-destDef="T01Oya.updateUserSei:USER_SEI"></span>
        </div>
      </fieldset>
      <div class="buttons">
        <button type="button" id="RefreshD0002" th:text="#{common.reset}" class="reset" onClick="Dialogate.refresh(event);">reset</button>
        <a th:href="@{D0002Get.xlsx(baseMei=#{D0002.h2})}" id="D0002Get.xlsx" th:text="#{common.xlsx}" class="output" tabindex="-1">xlsx</a>
      </div>
      <div class="submits">
        <button id="DeleteD0002" type="submit" class="delete" data-action="D0002Delete.ajax" th:text="#{common.delete}" tabindex="-1">削除</button>
        <button id="RegistD0002" type="submit" class="regist" th:text="#{common.regist}">登録</button>
      </div>
    </form>
  </div>
</body>
</html>
