<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="~{common/base}">
<head>
<meta charset="UTF-8">
<title th:text="#{D0001.title}">title</title>
<style type="text/css">
</style>
<script type="text/javascript">
	
</script>
<script th:src="@{/D0000/D0001GridColumns.js}"></script>
</head>
<body>
  <div layout:fragment="article">
    <h2 th:text="#{D0001.h2}">h2</h2>
    <!-- 検索フォーム -->
    <form name="D0001SearchForm" action="D0001Search.ajax" class="search">
      <input type="hidden" name="rows" value="10" /><input type="hidden" name="page" value="0" />
      <fieldset>
        <legend th:text="#{D0001.legend}">legend</legend>
        <div id="oyaId">
          <label for="oyaId" th:text="#{oyaId}">親ID</label><input type="text" id="oyaId" name="oyaId" maxlength="10" />
        </div>
        <div id="oyaInfo">
          <label for="oyaInfo" th:text="#{oyaInfo}">親情報</label><input type="text" id="oyaInfo" name="oyaInfo" maxlength="300" />
        </div>
        <div id="koBn">
          <label for="koBn" th:text="#{koBn}">子枝番</label><input type="text" id="koBn" name="koBn" maxlength="10" />
        </div>
        <div id="koInfo">
          <label for="koInfo" th:text="#{koInfo}">子情報</label><input type="text" id="koInfo" name="koInfo" maxlength="300" />
        </div>
        <div id="magoBn">
          <label for="magoBn" th:text="#{magoBn}">孫枝番</label><input type="text" id="magoBn" name="magoBn" maxlength="10" />
        </div>
        <div id="magoInfo">
          <label for="magoInfo" th:text="#{magoInfo}">孫情報</label><input type="text" id="magoInfo" name="magoInfo" maxlength="300" />
        </div>
      </fieldset>
      <div class="buttons">
        <button type="button" id="ResetD0001" th:text="#{common.reset}" class="reset" onClick="Dialogate.reset(event);">reset</button>
      </div>
      <div class="submits">
        <button id="SearchD0001" type="submit" class="search" data-gridId="D0001Grid" th:text="#{common.search}">submit</button>
      </div>
    </form>
    <!-- 一覧フォーム -->
    <form name="D0001RegistForm" action="D0001Regist.ajax" class="regist">
      <h3 th:text="#{D0001.h3}">h3</h3>
      <div id="D0001Grid" data-selectionMode="checkbox" data-frozenColumn="0" data-editable="false" th:data-href="@{/D0000/D0002.html}"></div>
      <div id="D0001Pager"></div>
      <div class="buttons">
        <button type="button" class="reset" id="ResetD0001" th:text="#{common.reset}" onClick="Base.listReset('D0001');">reset</button>
        <a th:href="@{D0001Search.xlsx(baseMei=#{D0001.h2})}" id="D0001Search.xlsx" th:text="#{common.xlsx}" class="output" tabindex="-1">xlsx</a>
      </div>
      <div class="submits">
        <button id="RegistD0001" type="submit" class="regist" th:text="#{common.regist}">submit</button>
      </div>
    </form>
  </div>
</body>
</html>
